.row {
    letter-spacing: -0.31em;
    *letter-spacing: normal;
    *word-spacing: -0.43em;
    text-rendering: optimizespeed;
}

.opera-only :-o-prefocus,
.row {
    word-spacing: -0.43em;
}


.col {
    display: inline-block;
    zoom: 1; *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}


.col-1,.col-1-2,.col-1-3,.col-2-3,.col-1-4,.col-3-4,.col-1-5,.col-2-5,.col-3-5,.col-4-5,.col-1-6,.col-5-6,.col-1-7,.col-2-7,.col-3-7,.col-4-7,.col-5-7,.col-6-7,.col-1-8,.col-3-8,.col-5-8,.col-7-8,.col-1-9,.col-2-9,.col-4-9,.col-5-9,.col-6-9,.col-7-9,.col-8-9,.col-1-10,.col-3-10,.col-7-10,.col-9-10,.col-1-11,.col-2-11,.col-3-11,.col-4-11,.col-5-11,.col-6-11,.col-7-11,.col-8-11,.col-9-11,.col-10-11,.col-1-12,.col-5-12,.col-7-12,.col-9-12,.col-11-12 {
    display: inline-block;
    zoom: 1; *display: inline; 
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}



.col-1 {
    display:block;
}





    

        .col-1-2 {
            width: 600px;
        }

        .offset-1-2 {
            margin-left: 600px;
        }

    

        .col-1-3 {
            width: 399.9996px;
        }

        .offset-1-3 {
            margin-left: 399.9996px;
        }

    

        .col-2-3 {
            width: 800.0004px;
        }

        .offset-2-3 {
            margin-left: 800.0004px;
        }

    

        .col-1-4 {
            width: 300px;
        }

        .offset-1-4 {
            margin-left: 300px;
        }

    

        .col-3-4 {
            width: 900px;
        }

        .offset-3-4 {
            margin-left: 900px;
        }

    

        .col-1-5 {
            width: 240px;
        }

        .offset-1-5 {
            margin-left: 240px;
        }

    

        .col-2-5 {
            width: 480px;
        }

        .offset-2-5 {
            margin-left: 480px;
        }

    

        .col-3-5 {
            width: 720px;
        }

        .offset-3-5 {
            margin-left: 720px;
        }

    

        .col-4-5 {
            width: 960px;
        }

        .offset-4-5 {
            margin-left: 960px;
        }

    

        .col-1-6 {
            width: 200.0004px;
        }

        .offset-1-6 {
            margin-left: 200.0004px;
        }

    

        .col-5-6 {
            width: 999.9996px;
        }

        .offset-5-6 {
            margin-left: 999.9996px;
        }

    

        .col-1-7 {
            width: 171.4284px;
        }

        .offset-1-7 {
            margin-left: 171.4284px;
        }

    

        .col-2-7 {
            width: 342.8568px;
        }

        .offset-2-7 {
            margin-left: 342.8568px;
        }

    

        .col-3-7 {
            width: 514.2852px;
        }

        .offset-3-7 {
            margin-left: 514.2852px;
        }

    

        .col-4-7 {
            width: 685.7148px;
        }

        .offset-4-7 {
            margin-left: 685.7148px;
        }

    

        .col-5-7 {
            width: 857.1432px;
        }

        .offset-5-7 {
            margin-left: 857.1432px;
        }

    

        .col-6-7 {
            width: 1028.5716px;
        }

        .offset-6-7 {
            margin-left: 1028.5716px;
        }

    

        .col-1-8 {
            width: 150px;
        }

        .offset-1-8 {
            margin-left: 150px;
        }

    

        .col-3-8 {
            width: 450px;
        }

        .offset-3-8 {
            margin-left: 450px;
        }

    

        .col-5-8 {
            width: 750px;
        }

        .offset-5-8 {
            margin-left: 750px;
        }

    

        .col-7-8 {
            width: 1050px;
        }

        .offset-7-8 {
            margin-left: 1050px;
        }

    

        .col-1-9 {
            width: 133.3332px;
        }

        .offset-1-9 {
            margin-left: 133.3332px;
        }

    

        .col-2-9 {
            width: 266.6664px;
        }

        .offset-2-9 {
            margin-left: 266.6664px;
        }

    

        .col-4-9 {
            width: 533.3328px;
        }

        .offset-4-9 {
            margin-left: 533.3328px;
        }

    

        .col-5-9 {
            width: 666.6672px;
        }

        .offset-5-9 {
            margin-left: 666.6672px;
        }

    

        .col-6-9 {
            width: 800.0004px;
        }

        .offset-6-9 {
            margin-left: 800.0004px;
        }

    

        .col-7-9 {
            width: 933.3336px;
        }

        .offset-7-9 {
            margin-left: 933.3336px;
        }

    

        .col-8-9 {
            width: 1066.6668px;
        }

        .offset-8-9 {
            margin-left: 1066.6668px;
        }

    

        .col-1-10 {
            width: 120px;
        }

        .offset-1-10 {
            margin-left: 120px;
        }

    

        .col-3-10 {
            width: 360px;
        }

        .offset-3-10 {
            margin-left: 360px;
        }

    

        .col-7-10 {
            width: 840px;
        }

        .offset-7-10 {
            margin-left: 840px;
        }

    

        .col-9-10 {
            width: 1080px;
        }

        .offset-9-10 {
            margin-left: 1080px;
        }

    

        .col-1-11 {
            width: 109.0908px;
        }

        .offset-1-11 {
            margin-left: 109.0908px;
        }

    

        .col-2-11 {
            width: 218.1816px;
        }

        .offset-2-11 {
            margin-left: 218.1816px;
        }

    

        .col-3-11 {
            width: 327.2724px;
        }

        .offset-3-11 {
            margin-left: 327.2724px;
        }

    

        .col-4-11 {
            width: 436.3632px;
        }

        .offset-4-11 {
            margin-left: 436.3632px;
        }

    

        .col-5-11 {
            width: 545.454px;
        }

        .offset-5-11 {
            margin-left: 545.454px;
        }

    

        .col-6-11 {
            width: 654.546px;
        }

        .offset-6-11 {
            margin-left: 654.546px;
        }

    

        .col-7-11 {
            width: 763.6368px;
        }

        .offset-7-11 {
            margin-left: 763.6368px;
        }

    

        .col-8-11 {
            width: 872.7276px;
        }

        .offset-8-11 {
            margin-left: 872.7276px;
        }

    

        .col-9-11 {
            width: 981.8184px;
        }

        .offset-9-11 {
            margin-left: 981.8184px;
        }

    

        .col-10-11 {
            width: 1090.9092px;
        }

        .offset-10-11 {
            margin-left: 1090.9092px;
        }

    

        .col-1-12 {
            width: 99.9996px;
        }

        .offset-1-12 {
            margin-left: 99.9996px;
        }

    

        .col-5-12 {
            width: 500.0004px;
        }

        .offset-5-12 {
            margin-left: 500.0004px;
        }

    

        .col-7-12 {
            width: 699.9996px;
        }

        .offset-7-12 {
            margin-left: 699.9996px;
        }

    

        .col-9-12 {
            width: 900px;
        }

        .offset-9-12 {
            margin-left: 900px;
        }

    

        .col-11-12 {
            width: 1100.0004px;
        }

        .offset-11-12 {
            margin-left: 1100.0004px;
        }

    






    
    .row-r {
        letter-spacing: -0.31em; 
        *letter-spacing: normal; 
        word-spacing: -0.43em; 
    }


    .opera-only :-o-prefocus,
    .row-r {
        word-spacing: -0.43em;
    }


    .row-r img {
        max-width: 100%;
    }

    
    
        @media (min-width:980px) {
            .visible-phone     { display: none; }
            .visible-tablet    { display: none; }
            .visible-desktop   { }
            .hidden-phone      { }
            .hidden-tablet     { }
            .hidden-desktop    { display: none; }
        }

    

    
        @media (max-width:480px) {
            .row-r > [class ^= "col"] {
                width:100%;
            }
        }
    

    
        @media (max-width:767px) {

            .row-r > [class ^= "col"] {
                width:100%;
            }            
            .visible-phone     { } 
            .hidden-phone      { display: none; }
            .hidden-desktop    { }
            .visible-desktop   { display: none; }
        }
    

    
        @media (min-width:768px) and (max-width:979px) {
            .visible-tablet    {}
            .hidden-tablet     { display: none; }
            .hidden-desktop    {}
            .visible-desktop   { display: none; }
        }