/*
UI Designs Framework is a project to help fast track our ui design projects.
© Copyright 2013 Christopher John Cubos. All Rights Reserved.
License: Free to use just retain the copyright :) thanks you
http://uidesigns.us

*/

body {padding:0; margin:0;}
#navbar-wrap {box-shadow: inset 0 0 1px none; height:46px; padding:1px 0 10px 0;}
.navbar {}
.navbar li {list-style: none; float: left; padding:0 15px;}

.clear {float: none; clear: both;}
.container-full{width: 100%; min-height: 500px; background:#9f5fb9;}

/* 960px */

.padding-top {padding-top:20px;}

.cc img {width: 100%;}
img.thumb {width:90%; padding:5%; box-shadow: inset 0 0 1px #000; border-radius: 3px;}
h3 {font:bold 16px/20px "Open Sans", Arial;}
p {font:normal 13px/18px "Open Sans", Arial;}

.row-960 {width:960px; clear: both; float: none; margin:10px auto;}
.row-960 div {background:none;}
.row-960 .col-1 {float:left; min-height: 50px; width:940px;}
.row-960 .col-1-3 {float:left; margin:0 10px; min-height: 50px; width:300px;}
.row-960 .col-2-3 {float:left; margin:0 10px; min-height: 50px; width:620px;}
.row-960 .col-1-4 {float:left; margin:0 10px; min-height: 50px; width:220px;}
.row-960 .col-2-4 {float:left; margin:0 10px; min-height: 50px; width:460px;}
.row-960 .col-3-4 {float:left; margin:0 10px; min-height: 50px; width:700px;}
.row-960 .col-1-5 {float:left; margin:0 10px; min-height: 50px; width:172px;}
.row-960 .col-2-5 {float:left; margin:0 10px; min-height: 50px; width:364px;}
.row-960 .col-3-5 {float:left; margin:0 10px; min-height: 50px; width:556px;}
.row-960 .col-4-5 {float:left; margin:0 10px; min-height: 50px; width:748px;}
.row-960 .col-1-6 {float:left; margin:0 10px; min-height: 50px; width:140px;}
.row-960 .col-2-6 {float:left; margin:0 10px; min-height: 50px; width:300px;}
.row-960 .col-3-6 {float:left; margin:0 10px; min-height: 50px; width:460px;}
.row-960 .col-4-6 {float:left; margin:0 10px; min-height: 50px; width:620px;}
.row-960 .col-5-6 {float:left; margin:0 10px; min-height: 50px; width:780px;}
.row-960 .end {margin: 0 0 0 10px; }


/* 1200px */

 
.row-1200 {width:1200px; clear: both; float: none; margin:10px auto;}
.row-1200 div {background:none;}
.row-1200 .col-1 {float:left; min-height: 50px; width:1180px;}
.row-1200 .col-1-3 {float:left; margin:0 10px; min-height: 50px; width:380px;}
.row-1200 .col-2-3 {float:left; margin:0 10px; min-height: 50px; width:780px;}
.row-1200 .col-1-4 {float:left; margin:0 10px; min-height: 50px; width:280px;}
.row-1200 .col-2-4 {float:left; margin:0 10px; min-height: 50px; width:580px;}
.row-1200 .col-3-4 {float:left; margin:0 10px; min-height: 50px; width:880px;}
.row-1200 .col-1-5 {float:left; margin:0 10px; min-height: 50px; width:220px;}
.row-1200 .col-2-5 {float:left; margin:0 10px; min-height: 50px; width:460px;}
.row-1200 .col-3-5 {float:left; margin:0 10px; min-height: 50px; width:700px;}
.row-1200 .col-4-5 {float:left; margin:0 10px; min-height: 50px; width:940px;}
.row-1200 .col-1-6 {float:left; margin:0 10px; min-height: 50px; width:180px;}
.row-1200 .col-2-6 {float:left; margin:0 10px; min-height: 50px; width:380px;}
.row-1200 .col-3-6 {float:left; margin:0 10px; min-height: 50px; width:580px;}
.row-1200 .col-4-6 {float:left; margin:0 10px; min-height: 50px; width:780px;}
.row-1200 .col-5-6 {float:left; margin:0 10px; min-height: 50px; width:980px;}

/* 960px full */

.row-960-full {width:960px; clear: both; float: none; margin:10px auto;}
.row-960-full div {background:none;}
.row-960-full .col-1 {float:left; min-height: 50px; width:960px;}
.row-960-full .col-1-3 {float:left; min-height: 50px; width:320px;}
.row-960-full .col-2-3 {float:left; min-height: 50px; width:640px;}
.row-960-full .col-1-4 {float:left; min-height: 50px; width:240px;}
.row-960-full .col-2-4 {float:left; min-height: 50px; width:480px;}
.row-960-full .col-3-4 {float:left; min-height: 50px; width:720px;}
.row-960-full .col-1-5 {float:left; min-height: 50px; width:192px;}
.row-960-full .col-2-5 {float:left; min-height: 50px; width:384px;}
.row-960-full .col-3-5 {float:left; min-height: 50px; width:576px;}
.row-960-full .col-4-5 {float:left; min-height: 50px; width:768px;}
.row-960-full .col-1-6 {float:left; min-height: 50px; width:160px;}
.row-960-full .col-2-6 {float:left; min-height: 50px; width:320px;}
.row-960-full .col-3-6 {float:left; min-height: 50px; width:480px;}
.row-960-full .col-4-6 {float:left; min-height: 50px; width:640px;}
.row-960-full .col-5-6 {float:left; min-height: 50px; width:800px;}

/* 1200px */
.row-1200-full {width:1200px; clear: both; float: none; margin:10px auto;}
.row-1200-full div {background:#none;}
.row-1200-full .col-1 {float:left; min-height: 50px; width:1200px;}
.row-1200-full .col-1-3 {float:left; min-height: 50px; width:400px;}
.row-1200-full .col-2-3 {float:left; min-height: 50px; width:800px;}
.row-1200-full .col-1-4 {float:left; min-height: 50px; width:300px;}
.row-1200-full .col-2-4 {float:left; min-height: 50px; width:600px;}
.row-1200-full .col-3-4 {float:left; min-height: 50px; width:900px;}
.row-1200-full .col-1-5 {float:left; min-height: 50px; width:240px;}
.row-1200-full .col-2-5 {float:left; min-height: 50px; width:480px;}
.row-1200-full .col-3-5 {float:left; min-height: 50px; width:720px;}
.row-1200-full .col-4-5 {float:left; min-height: 50px; width:960px;}
.row-1200-full .col-1-6 {float:left; min-height: 50px; width:200px;}
.row-1200-full .col-2-6 {float:left; min-height: 50px; width:400px;}
.row-1200-full .col-3-6 {float:left; min-height: 50px; width:600px;}
.row-1200-full .col-4-6 {float:left; min-height: 50px; width:800px;}
.row-1200-full .col-5-6 {float:left; min-height: 50px; width:1000px;}

/* column inside a column */
.cc {clear: both; float: none; margin:0; padding: 0;}
.row-960 .cc div {margin:0; padding: 0;}
.row-1200 .cc div {margin:0; padding: 0;}
.cc .col-1-3 {float:left; min-height: 50px; width:33.33%;}
.cc .col-2-3 {float:left; min-height: 50px; width:66.66666666%;}
.cc .col-1-4 {float:left; min-height: 50px; width:25%;}
.cc .col-2-4 {float:left; min-height: 50px; width:50%;}
.cc .col-3-4 {float:left; min-height: 50px; width:75%;}
.cc .col-1-5 {float:left; min-height: 50px; width:20%;}
.cc .col-2-5 {float:left; min-height: 50px; width:40%;}
.cc .col-3-5 {float:left; min-height: 50px; width:60%;}
.cc .col-4-5 {float:left; min-height: 50px; width:80%;}
.cc .col-1-6 {float:left; min-height: 50px; width:16.66666666%;}
.cc .col-2-6 {float:left; min-height: 50px; width:33.33%px;}
.cc .col-3-6 {float:left; min-height: 50px; width:50%;}
.cc .col-4-6 {float:left; min-height: 50px; width:66.66666666%;}
.cc .col-5-6 {float:left; min-height: 50px; width:83.33%;}

/* paddings */
.col-pad-5 {padding:0 5px !important;}
.col-pad-10 {padding:0 10px !important;}


.show-grid {box-shadow: inset 0 0 1px red;}
.show-grid div {box-shadow: inset 0 0 1px red;}